* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


.container {
    background-color: white;
}

.menus {
    right: -1200px;
    list-style-type: none;
    padding: 30px;
    height: 40px;
    background-color: white;
    width: 100%;
    position: relative;
}

.menus li {
    display: inline-block;
    position: center center;
}

.menus li a {
    color: black;
    text-decoration: none; 
    font-size: xx-large;
    padding: 25px;
}

.logo {
    right: 3000px;
    bottom: 10px;
    color: white;
    position: absolute;
}

.container-link {
    width: 600px;
    height: 600px;
}

.gambar-ig {
    background-image: url(https://image.flaticon.com/icons/png/512/69/69366.png);
    background-size: cover;
    background-position: center;
    height: 122%;
    width: 49%;
    position: relative;
    right: -700px;
    top: 200px;
    
}

.gambar-fb {
    background-image: url(https://cdn3.iconfinder.com/data/icons/glypho-social-and-other-logos/64/logo-facebook-512.png);
    background-size: cover;
    background-position: center;
    height: 152.5%;
    width: 53%;
    position: relative;
    right: -700px;
    top: 250px;
    
}

.gambar-twt {
    background-image: url(https://image.flaticon.com/icons/png/512/23/23681.png);
    background-size: cover;
    background-position: center;
    height: 130%;
    width: 16.5%;
    position: relative;
    right: -700px;
    bottom: 75px;
    
}

.link-ig {
    color: black;
    text-decoration: none;
    font-family: Helvetica;
}
.link-fb {
    right: 10px;
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    
}
.tulisan {
    right: -160px;
    font-size: x-large;
    top: 40px;
    position: absolute;

}

.link {
    height: 10vh;
    width: 40%;
    right: 300px;
}


.link-instagram {
    background-position: center;
}