* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}


.bekgron {
    background-color: black;
    background-position: center center;
    background-size: cover;
    height: 200vh;
    position: relative;
}

.container {
    background-color: white;
}

ul {
    float: right;
    list-style-type: none;
    padding: 30px;
}


ul li {
    display: inline-block;
}


ul li a {
    color: white;
    font-size: xx-large;
    text-decoration: none ;
    padding: 20px 25px;
}

u {
    float: left;
    text-decoration: none;
    padding: 25px 100px;
    font-size: xx-large;
    color: white;
}

.logo {
    float: left;
    text-decoration: none;
    padding: 25px 100px;
    font-size: xx-large;
    color: white;
}

.jualan {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}

.tombol {
    width: 500px;
    margin: 10px;
    position: absolute;
}

.gambarikan {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2xNWwJDvxR9vOXRV1X4zSeSZSciYdsA9K3w&usqp=CAU);
    position: absolute;
    background-size: cover;
    top: 300px;
    right: 150px;
    height: 240px;
    width: 80%;
    filter: grayscale();
}

.gambarayam {
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2015/06/08/717323/9a9a724cf3488deb74c4cda9d983ac86-700.jpg);
    position: absolute;
    background-size: cover;
    top: 300px;
    right: -270px;
    height: 240px;
    width: 80%;
    filter: grayscale();
}

.gambarsapi {
    background-image: url(https://i.pinimg.com/originals/45/74/c6/4574c68d814dc0d3a64611ee401ea7dc.jpg);
    position: absolute;
    background-size: cover;
    background-position: center center;
    top: 650px;
    right: -270px;
    height: 240px;
    width: 164%;
    filter: grayscale();
}

.tulisan {
    background-color: white;
    position: absolute;
    padding: 10px 0px;
    width: 100%;
    top: 240px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-size: x-large;
}


